/* // .month-selector {
//   select {
//     padding: 10px;
//     font-size: 1rem;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//   }
// } */

/* td {
    cursor: pointer;
  }
  
  .selected {
    border: 2px solid red;
    font-weight: bold;
  }
  
  td:hover {
    background-color: #f1f1f1;
  }
   */


   .day {
    cursor: pointer;
    padding: 10px;
    text-align: center;
  }
  
  .day:hover {
    background-color: #e0d9d9;
  }
  
  .selected {
    border: 2px solid red;
    font-weight: bold;
  }
  
  .today {
    background-color: #e3e2e1f3;
    font-weight: bold;
  }
  