  .current-day {
    .weekday {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
    
    .date {
      font-size: 2rem;
      color: #555;
      text-align: center;
    }
  }
  