/* 
.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  .calendar-header {
    text-align: center;
    margin-bottom: 30px;

    .calendar-month-year {
      padding-top: 20px;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;

    .calendar-weekdays {
      display: contents;

      .calendar-weekday {
        text-align: center;
        font-weight: bold;
      }
    }

    .calendar-day {
      text-align: center;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.5s ease;

      &.placeholder {
        visibility: hidden;
      }

      &.selected {
        background-color: #72a7ba;
        color: rgba(255, 255, 255, 0.863);
        border-radius: 50%;
        border: 2px solid red;
      }

      &:hover {
        background-color: #335576cb;
      }
    }
  }
} */

/* 
.calendar-month {
  font-family: Arial, sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tbody tr:hover {
  background-color: #f0f0f0;
} */

.calendar {
  display: flex;
  justify-content: space-between;
}

/* .current-day {
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
} */

.calendar-month {
  width: 75%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

